// Colors
$primary-color: #BA4270;
$primary-light-color: #fbfcfe;

$secondary-color: #36536b;
$secondary-light-color: #6c8294;

$complementary-light: #da6d97;
$complementary-dark: #1b262f;

$error-color: #FF0000;

// Fonts
@import "@fontsource/public-sans/700.css";
@import "@fontsource/public-sans/400.css";
@import "@fontsource/dm-serif-display/400.css";

